
header{
    margin-bottom: 5px;
    width: 1080px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}
/*Estilo del titulo de la web*/
.tituloWeb{
    color:#A52A2A;

}
/*Estilos de subtitulos*/
h2{
    color:#A52A2A;
    font-size: 25px; 
    padding: 18px;
    font-weight: 700;
    font-variant: small-caps;
}
h3{
    color:#A52A2A;
    font-size: 20px; 
    padding: 18px;
    font-variant: small-caps;
    font-weight: 700;
}
/*divs donde se situan los scripts de fiddle para mostrar su contenido*/
.fiddle{
    width: 1080px;
    clear:both;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
	text-align: center;
    
}
/*div que contiene la información de la presentación dentro de html description.html*/
#description{
    width: 1080px;
    clear:both;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    

}
/*navegador (menú desplegable)*/
nav{
    /*clear para que vuelva a seguir flujo normal despues de usar float y no se solapen las cajas*/
    width: 1080px;
    clear: both;
    height: 52px; 
    background-color: #e7dfdb;
    margin-left: auto;
    margin-right: auto;
   
}
#div{
    background-color: #e7dfdb;
}
/*se empieza el menu*/

ol:hover,ul:hover{
    cursor: pointer
}
ol, ul {
	text-decoration:none;
    list-style:none;
}
nav ul >li{
    float:left;
}

nav ul li a{
    display: block;
    text-decoration: none;
    width: 360px;
    padding: 18px;
    text-align: center;    
    height: 52px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    
}

nav li:hover{
    background-color: #e7dfdbd7;
    cursor: pointer;
}

ul li:hover>ul{
    display: block;
    background-color: #e7dfdbd7;
    cursor: pointer
}





