
header{
    margin-bottom: 10px;
    width: 1080px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}
/*Estilo del titulo de la web*/
.tituloWeb{
    color:#A52A2A;

}
/*divs donde se situan los scripts de fiddle para mostrar su contenido*/
.fiddle{
    width: 1080px;
    clear:both;
    margin-left: auto;
    margin-right: auto;
    
}
/*navegador (menú desplegable)*/
nav{
    /*clear para que vuelva a seguir flujo normal despues de usar float y no se solapen las cajas*/
    width: 1080px;
    clear: both;
    height: 52px; 
    background-color: #DEB887;
    margin-left: auto;
    margin-right: auto;
   
}

/*se empieza el menu*/
nav li{
    width: 360px;
    padding: 18px;
    float: left;
    text-align: center;    
    height: 52px;
}

nav li:hover{
    background-color: #D2691E;
    opacity: 0.5;
}

.submenu{
    display: none;
    position: absolute;
    float: left;
    margin-top: 92px;
}

.menu-estatic:hover>ul{
    display: block;
    background-color: #DEB887(11,11,59,0.7);
    top: 50px;

}

.submenu_li{
    color: #A52A2A;
    clear: both;
    background-color: #DEB887;
      
}
.submenu2{
    margin-top: 18px;    
}

.submenu_li2{
    background-color: #DEB887;
    color: #A52A2A;
}

nav a{
    color: #A52A2A;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    
}
